* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
html {
    font-size: 1em;
    font-family: Arial, sans-serif; /*Tahoma, Verdana, Calibri*/
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
a {
    text-decoration: none;
    outline: none;
}
a:link {
    text-decoration: none;
    outline: none;
}
a:visited {
    text-decoration: none;
    outline: none;
}
a:hover {
    text-decoration: none;
    outline: none;
}
img {
    border: 0;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
td, th {
    padding: 0;
}

header, footer, main, aside, section, article, figure, figcaption, hgroup, menu, nav, summary, details {
    display: block;
}

audio, video, progress, canvas {
    display: inline-block;
    vertical-align: baseline;
}

body {
    background: #f8f8f8;
    color: #333;
}


html, body, .page {
    height: 100%;
    display: block;
}

header {
    height: 80px;
    border-bottom: 1px solid #294;
    position: relative;
    text-align: center;
    padding-top: 15px;
}

header h1 {
    font-weight: normal;
    font-size: 38px;
    font-family: Calibri;
    user-select: none;
}

main {
    text-align: center;
}

.content-part {
    max-width: 1200px;
    margin: 0 auto;
}

.footer-container {
    border-top: 1px solid #294;    
}



.control-panel {
    padding: 18px 20px 15px;
    position: relative;
    text-align: center;
}

.new-task-button {
    top: 20px;
    left: 0px;
    position: absolute;
    padding: 6px 12px;
    border: 1px solid #183;
    color: #172;
    font-weight: bold;
}

.new-task-button:hover {
    background: #294;
    color: #fff;
}


.sort-panel {
    display: inline-block;
}

.auth-panel {
    top: 28px;
    right: 0px;
    position: absolute;
}

.auth-panel > a { 
    color: #249;
    padding: 6px 24px;
    border: 1px solid #249;
}

.auth-panel > a:hover { 
    color: #fff;
    background: #249;
    border: 1px solid #249;
}

.auth-panel > a.logout-button {
    color: #933;
    border: 1px solid #933;
}

.auth-panel > a.logout-button:hover {
    color: #fff;
    border: 1px solid #933;
    background: #933;
}

.control-panel-button {
    background: transparent;
    cursor: pointer;
    font-size: 17px;
    font-family: Tahoma, sans-serif;
    transition: all 0.15s;
}

.task-item {
    width: 80%;
    margin: 35px auto;
    border: 1px solid #ccc;
    padding: 23px 30px;
    overflow: hidden;
    position: relative;
    background: #fafafa;
    text-align: left;
}

.task-item-line {
    padding-bottom: 12px;
    user-select: none;
}

.task-item-description {
    position:relative;
    margin-top: 10px;
}

.task-item-description-field {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    color: #333;
    min-width: 100%;
    max-width: 100%;
    min-height: 80px;
    padding: 10px 15px;
    font-family: Tahoma, sans-serif;
    user-select: none;
    line-height: 1.5;
}

.status-label {
    position: absolute;
    top: 30px;
    right: 30px;
    font-family: Verdana, sans-serif;
    user-select: none;
}

.status-label-in-progress {
    color: #ea3;
}

.status-label-success {
    color: #183;
}

.status-label-redacted {
    color: #ea3;
    margin-right: 13px;
    padding-right: 7px;
    border-right: 1px solid #ea3;
}

.pagination {
    display: inline-block; /*Возможэно этото бурать и поставить выравнивание по центру*/
    padding: 0 10px 10px;
}

.pagination > a {
    display: inline-block;
    margin: 0 20px;
    padding: 5px 10px;
    /*border: 1px solid #ccc;*/
    border: 1px solid #294;
    color: #294;
    transition: all 0.15s;
}

.pagination > a:hover {
    color: #fff;
    background: #294;
    border: 1px solid #294;
}

.login-form > input[type="text"], .login-form > input[type="password"], .manage-task-form > input[type="text"] {
    border: 1px solid #ccc;
    display: block;
    font-size: 17px;
    padding: 8px 14px;
    margin: 35px auto;
    width: 250px;
    color: #333;
    text-align: center;
}

form.manage-task-form > input[type="text"] {
    width: 350px;
}

.login-form > input[type="submit"], .manage-task-form > input[type="submit"], .return-button {
    border: 1px solid #294;
    display: block;
    width: 200px;
    margin: 50px auto 0;
    padding: 10px;
    font-size: 17px;
    cursor: pointer;
    color: #183;
    background: transparent;
}

.login-form > input[type="submit"]:hover, .return-button:hover, .manage-task-form > input[type="submit"]:hover {
    color: #fff;
    background: #294;
}

.message-panel {
    padding: 20px;
    font-size: 16px;
    line-height: 1.7;
    user-select: none;
    height: 80px;
    color: #c33;
}

.info-label {
    padding-top: 50px;
    font-weight: normal;
}

.login-panel, .task-manage-panel {
    position: relative;
}

div.simple-auth-label {
    color: #333;
}

.sort-panel {
    padding-top: 4px;
}

.label-sort-info {
    margin-right: 12px;
    user-select: none;
}

.label-sort-name, .label-sort-email, .label-sort-status {
    margin: 8px;
    color: #777;
    cursor: pointer;
    transition: all 0.15s;
}

.label-sort-name:hover, .label-sort-email:hover, .label-sort-status:hover {
    color: #333;
}

.label-sort-asc, .label-sort-desc {
    margin: 8px;
    cursor: pointer;
    font-size: 22px;
    position: relative;
}

.label-sort-asc {
    color: #294;   
}

.label-sort-desc {
    color: #933;     
}

.error-page-content {
    padding-top: 40px;
}

.error-page-content > h3 {
    display: block;
    font-weight: normal;
    font-size: 20px;
    margin: 0 auto;
    padding: 20px 0;
    user-select: none;
}

.manage-task-form-field {
    border: 1px solid #ccc;
    color: #333;
    min-width: 700px;
    max-width: 700px;
    min-height: 180px;
    padding: 10px 15px;
    display: block;
    margin: 0 auto;
    font-family: Tahoma, sans-serif;
    line-height: 1.5;
}

.link-task-redact {
    position: absolute;
    right: 30px;
    top: 60px;
    color: #4b6;
    transition: all 0.10s;
}

.link-task-redact:hover {
    text-decoration: underline;
    color: #249;
}

.success-block {
    padding-top: 30px;
    text-align: center;
}
.success-block > span {
    margin-left: 10px;
}

.success-block > input[type="checkbox"] {
    cursor: pointer;
}

.center {
    position: relative;
    min-height: 100%;
}
